{% extends 'menu.html.twig' %}


{% block contenido %}

	<br>

	{% set nombre = 0 %}

	<div>

		<div>
			<a href="/pedido" class="botonpedido botonesindex">Pedidos
			</a>
			<a href="/pedido/facturas" class=" ok botonpedido botonesindex">Facturas</a>

			<a href="{{ path('app_pedido_new') }}" class="botonpedido">
				<i class="fa fa-plus" aria-hidden="true"></i>
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
			</a>

			<a href="/cliente" class="botonpedido">
				<i class="fa fa-user" aria-hidden="true"></i>
			</a>

			<a href="/producto" class="botonpedido">

				<i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</a>


		</div>
		<div class="hrposicion">
			<hr width="100%" align="right" size="30">
		</div>

		<table class="tablePedidos">
			<thead>
				<tr>
					<th scope="col">N.</th>
					<th scope="col">Fecha</th>
					<th scope="col">Nombre Factura</th>
					<th scope="col">Cliente</th>
					<th scope="col">Actions</th>

				</tr>
			</thead>
			<tbody>
				{% for pedido in pedidos |reverse%}

					{% if pedido.estado == true %}

						{% set nombre = nombre + 1 %}



						<tr>
							<td>{{ nombre }}</td>
							<td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</td>
							<td>{{ pedido.nombrePedido }}</td>
							<td>{{ pedido.Cliente}}
							</td>
							<td>

								<a href="{{ path('app_pedido_show', {'id': pedido.id}) }}">Ver 
								</a>
								{{ include('pedido/_delete_form_factura.html.twig') }}

							</td>

						</tr>
						{% else %}

					{% endif %}

				{% else %}
					<tr>
						<td colspan="7">No records found</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>


	

	{% endblock %}
