{% extends 'menu.html.twig' %}


{% block contenido %}

	{% set total = 0 %}

	{% set iva = 0 %}


	<div class="container containerPedido">

		<div class="nombreEmpresaFactura">
			<h1>
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
				{{ pedido.empresa.getNombreEmpresa() }}

			</h1>

			<h5>
				({{ pedido.estado ? 'Factura' : 'Pedido' }})</h5>

		</div>

		<div class="posicionDatosFactura">

			<p>
				N.
				{{ pedido.estado ? 'Factura' : 'Pedido' }}
				: ES-{{pedido.getId}}</p>

			<p>
				Fecha:
				{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</p>

		</div>


		<div class="posicionDatosEmpresa">

			<h6>
				Datos:
			</h6>

			<p>

				{{ pedido.empresa.getDireccion() }}

			</p>
			<p>
				{{ pedido.empresa.getCodigoPostal() }}
				{{ pedido.empresa.getCiudad() }}</p>
			<p>

				{{ pedido.empresa.getCorreoElectronico() }}</p>

			<p>

				{{ pedido.empresa.getTelefono() }}</p>


			<p>{{ pedido.empresa.getDni() }}</p>


		</div>

		<div class="clienteFactura">


			<h6>
				{{ pedido.estado ? 'Factura' : 'Presupuesto' }}
				a:
			</h6>

			<p>

				{{ pedido.Cliente.getNombre }}
				{{ pedido.Cliente.getApellidos }}</p>

			<p>


				{{ pedido.Cliente.getDireccion }}</p>

			<p>
				{{ pedido.Cliente.getCodigoPostal() }}
				{{ pedido.Cliente.getCiudad() }}</p>
			<p></p>
			<p>

				{{ pedido.Cliente.getTelefono }}</p>

			<p>

				{{ pedido.Cliente.getDni }}</p>

		</div>

		<br>


		<table class="tablaVer">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Cantidad</th>
					<th>Precio U.</th>
					<th>Precio Total</th>
				</tr>
			</thead>
			<tbody>


				{% for detalle in detalles %}

					{% if  detalle.pedido.getId()   ==  pedido.id  %}

						<tr>
							<td>{{ detalle.producto.getNombre() }}</td>
							<td>{{ detalle.producto.getDescripcion() }}</td>
							<td>{{ detalle.Cantidad }}</td>
							<td>{{ detalle.precio }}
								€</td>
							{% set preciototal = detalle.Cantidad *  detalle.precio  %}
							<td>
								{{preciototal}}
								€</td>

						</tr>

						{% set total = total + detalle.Cantidad *  detalle.precio  %}

					{% endif %}


				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}


			</tbody>

		</div>

	</div>

</tbody></table><h5 class="posicionPrecioTotal">

Base importe: &nbsp;{{ total }}
€</h5>{% set iva = total * 0.21 %}<h6 class="posicionPrecioTotalIVA">
IVA 21%: &nbsp;
{{ iva }}
€</h6>{% set totalFinal = total + iva %}<h6 class="posicionPrecioTotalTotal">
Total: &nbsp;
{{totalFinal}}
€</h6><h6 class="firma">Firma:</h6><hr class="firmaHr"></div>{% endblock %}
