{% extends 'menu.html.twig' %}


{% block contenido %}

	<br>
	<div>
		<div>
			<a href="/pedido" class="botonpedido botonesindex">Pedidos
			</a>
			<a href="/pedido/facturas" class="botonpedido botonesindex">Facturas</a>

			<a href="{{ path('app_pedido_new') }}" class="botonpedido">
				<i class="fa fa-plus" aria-hidden="true"></i>
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
			</a>

			<a href="/cliente" class="botonpedido">
				<i class="fa fa-user" aria-hidden="true"></i>
			</a>

			<a href="/producto" class="botonpedido">

				<i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</a>


		</div>
		<table class="tablePedidos">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Descripcion</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for producto in productos %}
					<tr>
						<td>{{ producto.id }}</td>
						<td>{{ producto.nombre }}</td>
						<td>{{ producto.precio }}</td>
						<td>{{ producto.descripcion }}</td>
						<td>
							<a href="{{ path('app_producto_show', {'id': producto.id}) }}">Ver / </a>
							<a href="{{ path('app_producto_edit', {'id': producto.id}) }}">Editar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endblock %}
