{% extends 'menu.html.twig' %}


{% block contenido %}

<h1 class="posionTituloShow"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
 Producto</h1>

<table class="tableShow">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ producto.id }}</td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td>{{ producto.nombre }}</td>
		</tr>
		<tr>
			<th>Precio</th>
			<td>{{ producto.precio }}
				€</td>
		</tr>
		<tr>
			<th>Descripcion</th>
			<td>{{ producto.descripcion }}</td>
		</tr>
	</tbody>
</table>

<div class="posicionBotonesShow">
	<a href="{{ path('app_producto_edit', {'id': producto.id}) }}">Editar /
	</a>

	<a href="{{ path('app_producto_index') }}">Back to list</a>

</div>
 {% endblock %}
