{% extends 'menu.html.twig' %}


{% block contenido %}


     <h1 class="posionTituloShow"><i class="fa fa-building" aria-hidden="true"></i> Empresa</h1>

    <table class="tableShow">
        <thead>
            <tr>
               
                <th>Username</th>
                <th>NombreEmpresa</th>
                <th>CorreoElectronico</th>
                <th>CodigoPostal</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Dni</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas  %}
            <tr>
                
                <td>{{ empresa.username }}</td>
      
                
                <td>{{ empresa.nombreEmpresa }}</td>
                <td>{{ empresa.correoElectronico }}</td>
                <td>{{ empresa.codigoPostal }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.dni }}</td>
              
                <td>
                    <a href="{{ path('app_empresa_show', {'id': empresa.id}) }}">Ver / </a>
                    <a href="{{ path('app_empresa_edit', {'id': empresa.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
