{% extends 'base.html.twig' %}

{% block title %}Detalle index{% endblock %}

{% block body %}
    <h1>Detalle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.id }}</td>
                <td>{{ detalle.Cantidad }}</td>
                <td>{{ detalle.precio }}</td>
                <td>
                    <a href="{{ path('app_detalle_show', {'id': detalle.id}) }}">show</a>
                    <a href="{{ path('app_detalle_edit', {'id': detalle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detalle_new') }}">Create new</a>
{% endblock %}
