{% extends 'menu.html.twig' %}


{% block contenido %}

	<br>

	<div>
		<div>
			<a href="/pedido" class="botonpedido botonesindex">Pedidos
			</a>
			<a href="/pedido/facturas" class="botonpedido botonesindex">Facturas</a>

			<a href="{{ path('app_pedido_new') }}" class="botonpedido">
				<i class="fa fa-plus" aria-hidden="true"></i>
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
			</a>

			<a href="/cliente" class="botonpedido">
				<i class="fa fa-user" aria-hidden="true"></i>
			</a>

			<a href="/producto" class="botonpedido">

				<i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</a>


		</div>
		<div class="hrposicion">
			<hr width="100%" align="right" size="30">
		</div>

		<table class="tablePedidos">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellidos</th>

					<th scope="col">Telefono</th>

					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for cliente in clientes %}
					<tr>
						<td>{{ cliente.id }}</td>
						<td>{{ cliente.nombre }}</td>
						<td>{{ cliente.apellidos }}</td>

						<td>{{ cliente.telefono }}</td>

						<td>
							<a href="{{ path('app_cliente_show', {'id': cliente.id}) }}">Ver /</a>
							<a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">Editar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endblock %}
