{% extends 'menu.html.twig' %}


{% block contenido %}
	<h1 class="posionTituloShow">
		<i class="fa fa-user" aria-hidden="true"></i>
		Cliente</h1>

	<table class="tableShow">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ cliente.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ cliente.nombre }}</td>
			</tr>
			<tr>
				<th>Apellidos</th>
				<td>{{ cliente.apellidos }}</td>
			</tr>
			<tr>
				<th>Direccion</th>
				<td>{{ cliente.direccion }}</td>
			</tr>
			<tr>
				<th>Ciudad</th>
				<td>{{ cliente.ciudad }}</td>
			</tr>
				<tr>
				<th>Codigo postal</th>
				<td>{{ cliente.getCodigoPostal }}</td>
			</tr>
			<tr>
				<th>Telefono</th>
				<td>{{ cliente.telefono }}</td>
			</tr>
			<tr>
				<th>CorreoElectronico</th>
				<td>{{ cliente.correoElectronico }}</td>
			</tr>
		</tbody>
	</table>


	<div class="posicionBotonesShow">

		<a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">Editar /
		</a>
		<a href="{{ path('app_cliente_index') }}">Back to list</a>

	</div>
{% endblock %}
